.feynman {
  box-sizing: border-box;
  min-height: 890px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../images/feinman.png);
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  background-size: 867px 637px;
  background-position: left bottom;
  position: relative;
}
